* {
    all: unset;
    font-size: 16px;
}

.module {
    min-width: 620px;
    font-family: "Quicksand", sans-serif;
}

.left {
    .works {
        font-size: 18px;
        background-color: #3d4044;
        border-radius: 12px;
        min-height: 24px;

        .ws-btn {
            min-width: 28px;
            min-height: 28px;
            background-color: #3d4044;
            font-weight: 700;
            font-family: "jetbrains mono", "Courier New", Courier, monospace;
            transition-property: border-radius, background-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;

            &:hover {
                background-color: #5e6266;
            }
            & > label {
                margin-right: -1px;
            }
            &.wsclose {
                padding-left: 2px;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                background-color: #fb7185;
                color: #ffffff;
                & > label {
                    margin-top: -2px;
                }
                &:hover {
                    background-color: #fda4af;
                }
            }
            &.ws0 {
                padding-right: 4px;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
            }
            &.ws- {
                color: #767e86;

                &occupied {
                    color: #d4e3ec;
                }

                &focus {
                    background-color: #0ea5e9;
                    color: #ffffff;

                    &:hover {
                        background-color: #38bdf8;
                    }
                }
            }
        }

        &.inactive .ws-btn.ws-focus {
            border-radius: 12px;
        }
    }

    .active-app {
        button {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 8px;
            padding: 4px;
            transition-property: border-radius, background-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            &:hover {
                background-color: rgba(255, 255, 255, 0.4);
            }
        }
        .app-name {
            padding-left: 16px;
            padding-right: 16px;
            color: #d4e3ec;
        }
    }
}

.center {
    margin-left: 20px;
    margin-right: 20px;

    .music {
        .music-box {
            .music-inner {
                background-color: rgba(0, 0, 0, 0.4);
                border-radius: 10px;
                padding-left: 8px;
                padding-right: 12px;
                padding-top: 2px;
                padding-bottom: 2px;
                min-height: 20px;

                .music-play {
                    min-height: 16px;
                    min-width: 16px;
                    padding: 2px;
                    margin: 0px;
                    background-repeat: no-repeat;
                    background-size: 16px;
                    border-radius: 4px;
                    background-position: center;
                    transition-property: background-color;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-in-out;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.4);
                    }
                }
                .music-title {
                    font-weight: 700;
                    padding-left: 16px;
                    padding-right: 16px;
                    font-size: 14px;
                }
                .music-artist {
                    font-size: 12px;
                    padding-top: 2px;
                }
            }
        }
    }
}

.right {
    .stats {
        background-color: #3d4044;
        border-radius: 12px;
        min-height: 24px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;

        .sep {
            background-color: #5e6266;
            min-width: 1px;
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .battery {
            &.level- {
                &full {
                    &.charging-y {
                        color: #86efac;
                        &.subtle {
                            color: #bbf7d0;
                        }
                    }
                    &.charging-m {
                        color: #86efac;
                        &.subtle {
                            color: #bbf7d0;
                        }
                    }
                    &.charging-n {
                        color: #d4e3ec;
                    }
                }
                &ok {
                    &.charging-y {
                        color: #4ade80;
                        &.subtle {
                            color: #bbf7d0;
                        }
                    }
                    &.charging-m {
                        color: #4ade80;
                        &.subtle {
                            color: #bbf7d0;
                        }
                    }
                    &.charging-n {
                        color: #d4e3ec;
                    }
                }
                &warn {
                    &.charging-y {
                        color: #4ade80;
                        &.subtle {
                            color: #bbf7d0;
                        }
                    }
                    &.charging-m {
                        color: #fba871;
                        &.subtle {
                            color: #e7c296;
                        }
                    }
                    &.charging-n {
                        color: #fba871;
                        &.subtle {
                            color: #e7c296;
                        }
                    }
                }
                &low {
                    &.charging-y {
                        color: #4ade80;
                    }
                    &.charging-m {
                        color: #fb7185;
                    }
                    &.charging-n {
                        color: #fb7185;
                    }
                }
            }
        }
    }

    .datetime {
        .date-wrap {
            background-color: #3d4044;
            min-height: 24px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            .date-wday {
                font-size: 12px;
                padding-left: 12px;
                padding-right: 8px;
                padding-top: 4px;
                color: #d4e3ec;
                font-family: "jetbrains mono", "Courier New", Courier, monospace;
            }
            .date-dm {
                font-size: 14px;
                font-weight: 600;
                padding-right: 12px;
                padding-top: 2px;
                color: #d4e3ec;
                font-family: "jetbrains mono", "Courier New", Courier, monospace;
            }
        }
        .clock-wrap {
            font-size: 16px;
            background-color: #d4e3ec;
            min-height: 24px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            .clock {
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 2px;
                color: #3d4044;
                font-weight: 700;
                font-family: "jetbrains mono", "Courier New", Courier, monospace;
            }
        }
    }

    .power_timeweather {
        .power {
            background-color: #fb7185;
            color: #ffe4e6;
            padding-left: 16px;
            padding-right: 16px;
            min-height: 28px;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            transition-property: background-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            &:hover {
                background-color: #fda4af;
            }
        }

        .timeweather {
            background-color: #0ea5e9;
            color: #d4e3ec;
            padding-left: 16px;
            padding-right: 16px;
            min-height: 28px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            transition-property: background-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            &:hover {
                background-color: #38bdf8;
            }
        }
    }
}

.music-slider {
    trough {
        min-height: 4px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.4);
        highlight {
            min-height: 4px;
            min-width: 4px;
            border-radius: 2px;
            background-color: #ffffff;
        }
    }
}
.active-slider {
    trough {
        min-height: 4px;
        border-radius: 2px;
        background-color: #767e86;
        highlight {
            min-height: 4px;
            min-width: 4px;
            border-radius: 2px;
            background-color: #38bdf8;
        }
    }
}
.inactive-slider {
    trough {
        min-height: 4px;
        border-radius: 2px;
        background-color: #5e6266;
        highlight {
            min-height: 4px;
            min-width: 4px;
            border-radius: 2px;
            background-color: #878791;
        }
    }
}

.p-0\.5 {
    padding: 2px;
}
.p-1 {
    padding: 4px;
}
.p-2 {
    padding: 8px;
}
.px-2 {
    padding-left: 8px;
    padding-right: 8px;
}
.px-4 {
    padding-left: 16px;
    padding-right: 16px;
}
.px-6 {
    padding-left: 24px;
    padding-right: 24px;
}
.py-0\.5 {
    padding-top: 2px;
    padding-bottom: 2px;
}
.py-1 {
    padding-top: 4px;
    padding-bottom: 4px;
}
.py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-4 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.pt-px {
    padding-top: 1px;
}
.pt-0\.5 {
    padding-top: 2px;
}
.pt-1 {
    padding-top: 4px;
}
.pt-1\.5 {
    padding-top: 6px;
}
.pb-0\.5 {
    padding-bottom: 2px;
}
.pl-1\.5 {
    padding-left: 6px;
}
.pr-1\.5 {
    padding-right: 6px;
}

.m-0 {
    margin: 0px;
}
.m-0\.5 {
    margin: 2px;
}
.mx-1 {
    margin-left: 4px;
    margin-right: 4px;
}
.mx-2 {
    margin-left: 8px;
    margin-right: 8px;
}
.my-1 {
    margin-top: 4px;
    margin-bottom: 4px;
}
.mt-px {
    margin-top: 1px;
}
.mt-0\.5 {
    margin-top: 2px;
}
.-mt-2 {
    margin-top: -8px;
}
.mt-1 {
    margin-top: 4px;
}
.mt-1\.5 {
    margin-top: 6px;
}
.mt-2 {
    margin-top: 8px;
}
.mt-2\.5 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 12px;
}
.mt-4 {
    margin-top: 16px;
}
.-ml-1 {
    margin-left: -4px;
}
.ml-1 {
    margin-left: 4px;
}
.ml-2 {
    margin-left: 8px;
}
.mb-px {
    margin-bottom: 1px;
}
.mb-0\.5 {
    margin-bottom: 2px;
}
.mb-1 {
    margin-bottom: 4px;
}
.mb-2 {
    margin-bottom: 8px;
}
.mr-1 {
    margin-right: 4px;
}
.mr-2 {
    margin-right: 8px;
}

.bg-gray-50 {
    background-color: #f9fafb;
}
.bg-gray-100 {
    background-color: #f3f4f6;
}
.bg-gray-200 {
    background-color: #e5e7eb;
}
.bg-gray-300 {
    background-color: #d4e3ec;
}
.bg-gray-400 {
    background-color: #b2b2be;
}
.bg-gray-500 {
    background-color: #878791;
}
.bg-gray-600 {
    background-color: #767e86;
}
.bg-gray-700 {
    background-color: #5e6266;
}
.bg-gray-800 {
    background-color: #3d4044;
}
.bg-gray-900 {
    background-color: #1f2124;
}
.bg-pri-400 {
    background-color: #38bdf8;
}
.bg-pri-300 {
    background-color: #7dd3fc;
}
.bg-white\|20 {
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-black\|40 {
    background-color: rgba(0, 0, 0, 0.4);
}
.bg-black\|60 {
    background-color: rgba(0, 0, 0, 0.6);
}
.hover\:bg-white\|20:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.hover\:bg-white\|40:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.hover\:bg-warn-500:hover {
    background-color: #f43f5e;
}

.bg-cover {
    background-size: cover;
}
.bg-size-4 {
    background-size: 16px;
}
.bg-size-6 {
    background-size: 24px;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.bg-center {
    background-position: center;
}

.text-white {
    color: #ffffff;
}
.text-white\|80 {
    color: rgba(255, 255, 255, 0.8);
}
.text-white\|60 {
    color: rgba(255, 255, 255, 0.6);
}
.text-white\|40 {
    color: rgba(255, 255, 255, 0.4);
}
.text-gray-300 {
    color: #d4e3ec;
}
.text-gray-400 {
    color: #b2b2be;
}
.text-gray-500 {
    color: #878791;
}
.text-gray-600 {
    color: #767e86;
}
.text-gray-700 {
    color: #5e6266;
}
.text-gray-800 {
    color: #3d4044;
}
.text-pri-800 {
    color: #075985;
}
.text-pri-900 {
    color: #0c4a6e;
}
.hover\:text-warn-200:hover {
    color: #fecdd3;
}

.text-xss {
    font-size: 10px;
}
.text-xs {
    font-size: 12px;
}
.text-sm {
    font-size: 14px;
}
.text-base {
    font-size: 16px;
}
.text-lg {
    font-size: 18px;
}
.text-xl {
    font-size: 20px;
}
.text-2xl {
    font-size: 24px;
}
.text-3xl {
    font-size: 30px;
}
.text-4xl {
    font-size: 36px;
}
.text-5xl {
    font-size: 48px;
}
.text-6xl {
    font-size: 60px;
}
.text-7xl {
    font-size: 72px;
}
.text-8xl {
    font-size: 96px;
}

.italic {
    font-style: italic;
}

.font-sans {
    font-family: "Quicksand", sans-serif;
}
.font-mono {
    font-family: "jetbrains mono", "Courier New", Courier, monospace;
}
.font-icon {
    font-family: "Inter Nerd Font", Consolas, "Courier New", monospace;
}

.font-medium {
    font-weight: 500;
}
.font-bold {
    font-weight: 700;
}
.hover\:font-bold:hover {
    font-weight: 700;
}

.rounded-sm {
    border-radius: 2px;
}
.rounded {
    border-radius: 4px;
}
.rounded-md {
    border-radius: 6px;
}
.rounded-lg {
    border-radius: 8px;
}
.rounded-xl {
    border-radius: 12px;
}
.rounded-1\.5xl {
    border-radius: 14px;
}
.rounded-2xl {
    border-radius: 16px;
}

.shadow-sm {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.shadow {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.shadow-md {
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
        0px 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.shadow-lg {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
        0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.shadow-xl {
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
        0px 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.shadow-2xl {
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.shadow-inner {
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.shadow-none {
    box-shadow: none;
}

.min-h-4 {
    min-height: 16px;
}

.min-w-4 {
    min-width: 16px;
}

.transition-bg {
    transition-property: background-color;
}
.duration-200 {
    transition-duration: 0.2s;
}
.ease-in-out {
    transition-timing-function: ease-in-out;
}
.animate-bg {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
