* {
    all: unset;
     /* text-base */ font-size: 16px;
}

.module {
     /* min-w-[620px] */ min-width: 620px;
     /* font-sans */ font-family: "Quicksand", sans-serif;
}

.left {
    .works {
         /* text-lg */ font-size: 18px; /* bg-gray-800 */ background-color: #3d4044; /* rounded-xl */ border-radius: 12px; /* min-h-6 */ min-height: 24px;

        .ws-btn {
             /* min-w-7 */ min-width: 28px; /* min-h-7 */ min-height: 28px; /* bg-gray-800 */ background-color: #3d4044; /* font-bold */ font-weight: 700; /* font-mono */ font-family: "jetbrains mono", "Courier New", Courier, monospace;
            transition-property: border-radius, background-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;

            &:hover {
                 /* bg-gray-700 */ background-color: #5e6266;
            }
            & > label {
                margin-right: -1px;
            }
            &.wsclose {
                 /* pl-0.5 */ padding-left: 2px; /* rounded-l-xl */ border-top-left-radius: 12px;border-bottom-left-radius: 12px; /* bg-warn-400 */ background-color: #fb7185; /* text-white */ color: #ffffff;
                & > label {
                    margin-top: -2px;
                }
                &:hover {
                     /* bg-warn-300 */ background-color: #fda4af;
                }
            }
            &.ws0 {
                 /* pr-1 */ padding-right: 4px; /* rounded-r-xl */ border-top-right-radius: 12px;border-bottom-right-radius: 12px;
            }
            &.ws- {
                /* Unoccupied */
                 /* text-gray-600 */ color: #767e86;
                /* Occupied */
                &occupied {
                     /* text-gray-300 */ color: #d4e3ec;
                }
                /* Focused */
                &focus {
                     /* bg-pri-500 */ background-color: #0ea5e9; /* text-white */ color: #ffffff;

                    &:hover {
                         /* bg-pri-400 */ background-color: #38bdf8;
                    }
                }
            }
        }

        &.inactive .ws-btn.ws-focus {
             /* rounded-xl */ border-radius: 12px;
        }
    }

    .active-app {
        button {
             /* bg-[rgba(255,255,255,0.2)] */ background-color: rgba(255,255,255,0.2); /* rounded-lg */ border-radius: 8px; /* p-1 */ padding: 4px;
            transition-property: border-radius, background-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            &:hover {
                 /* bg-[rgba(255,255,255,0.4)] */ background-color: rgba(255,255,255,0.4);
            }
        }
        .app-name {
             /* px-4 */ padding-left: 16px;padding-right: 16px; /* text-gray-300 */ color: #d4e3ec;
        }
    }
}

.center {
     /* mx-5 */ margin-left: 20px;margin-right: 20px;

    .music {
        .music-box {
            .music-inner {
                 /* bg-[rgba(0,0,0,0.4)] */ background-color: rgba(0,0,0,0.4); /* rounded-[10px] */ border-radius: 10px; /* pl-2 */ padding-left: 8px; /* pr-3 */ padding-right: 12px; /* py-0.5 */ padding-top: 2px;padding-bottom: 2px; /* min-h-5 */ min-height: 20px;

                .music-play {
                     /* min-h-4 */ min-height: 16px; /* min-w-4 */ min-width: 16px; /* p-0.5 */ padding: 2px; /* m-0 */ margin: 0px; /* bg-norepeat */ background-repeat: no-repeat; /* bg-size-[16px] */ background-size: 16px; /* rounded-bs */ border-radius: 4px;
                    background-position: center;
                    transition-property: background-color;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-in-out;
                    &:hover {
                         /* bg-[rgba(255,255,255,0.4)] */ background-color: rgba(255,255,255,0.4);
                    }
                }
                .music-title {
                     /* font-bold */ font-weight: 700; /* px-4 */ padding-left: 16px;padding-right: 16px; /* text-sm */ font-size: 14px;
                }
                .music-artist {
                     /* text-xs */ font-size: 12px; /* pt-0.5 */ padding-top: 2px;
                }
            }
        }
    }
}

.right {
    .stats {
         /* bg-gray-800 */ background-color: #3d4044; /* rounded-xl */ border-radius: 12px; /* min-h-6 */ min-height: 24px; /* px-2 */ padding-left: 8px;padding-right: 8px; /* py-0.5 */ padding-top: 2px;padding-bottom: 2px;

        .sep {
             /* bg-gray-700 */ background-color: #5e6266; /* min-w-[1px] */ min-width: 1px; /* mx-2 */ margin-left: 8px;margin-right: 8px; /* my-1 */ margin-top: 4px;margin-bottom: 4px;
        }

        .battery {
            &.level- {
                &full {
                    &.charging-y {
                         /* text-ok-300 */ color: #86efac;
                        &.subtle {
                             /* text-ok-200 */ color: #bbf7d0;
                        }
                    }
                    &.charging-m {
                         /* text-ok-300 */ color: #86efac;
                        &.subtle {
                             /* text-ok-200 */ color: #bbf7d0;
                        }
                    }
                    &.charging-n {
                         /* text-gray-300 */ color: #d4e3ec;
                    }
                }
                &ok {
                    &.charging-y {
                         /* text-ok-400 */ color: #4ade80;
                        &.subtle {
                             /* text-ok-200 */ color: #bbf7d0;
                        }
                    }
                    &.charging-m {
                         /* text-ok-400 */ color: #4ade80;
                        &.subtle {
                             /* text-ok-200 */ color: #bbf7d0;
                        }
                    }
                    &.charging-n {
                         /* text-gray-300 */ color: #d4e3ec;
                    }
                }
                &warn {
                    &.charging-y {
                         /* text-ok-400 */ color: #4ade80;
                        &.subtle {
                             /* text-ok-200 */ color: #bbf7d0;
                        }
                    }
                    &.charging-m {
                         /* text-notify-400 */ color: #fba871;
                        &.subtle {
                             /* text-notify-300 */ color: #e7c296;
                        }
                    }
                    &.charging-n {
                         /* text-notify-400 */ color: #fba871;
                        &.subtle {
                             /* text-notify-300 */ color: #e7c296;
                        }
                    }
                }
                &low {
                    &.charging-y {
                         /* text-ok-400 */ color: #4ade80;
                    }
                    &.charging-m {
                         /* text-warn-400 */ color: #fb7185;
                    }
                    &.charging-n {
                         /* text-warn-400 */ color: #fb7185;
                    }
                }
            }
        }
    }

    .datetime {
        .date-wrap {
             /* bg-gray-800 */ background-color: #3d4044; /* min-h-6 */ min-height: 24px; /* rounded-l-xl */ border-top-left-radius: 12px;border-bottom-left-radius: 12px;
            .date-wday {
                 /* text-xs */ font-size: 12px; /* pl-3 */ padding-left: 12px; /* pr-2 */ padding-right: 8px; /* pt-1 */ padding-top: 4px; /* text-gray-300 */ color: #d4e3ec; /* font-mono */ font-family: "jetbrains mono", "Courier New", Courier, monospace;
            }
            .date-dm {
                 /* text-sm */ font-size: 14px; /* font-semibold */ font-weight: 600; /* pr-3 */ padding-right: 12px; /* pt-0.5 */ padding-top: 2px; /* text-gray-300 */ color: #d4e3ec; /* font-mono */ font-family: "jetbrains mono", "Courier New", Courier, monospace;
            }
        }
        .clock-wrap {
             /* text-base */ font-size: 16px; /* bg-gray-300 */ background-color: #d4e3ec; /* min-h-6 */ min-height: 24px; /* rounded-r-xl */ border-top-right-radius: 12px;border-bottom-right-radius: 12px;
            .clock {
                 /* px-3 */ padding-left: 12px;padding-right: 12px; /* pt-0.5 */ padding-top: 2px; /* text-gray-800 */ color: #3d4044; /* font-bold */ font-weight: 700; /* font-mono */ font-family: "jetbrains mono", "Courier New", Courier, monospace;
            }
        }
    }

    .power_arch {
        .power {
             /* bg-warn-400 */ background-color: #fb7185; /* text-warn-100 */ color: #ffe4e6; /* px-4 */ padding-left: 16px;padding-right: 16px; /* min-h-7 */ min-height: 28px; /* rounded-r-xl */ border-top-right-radius: 12px;border-bottom-right-radius: 12px;
            transition-property: background-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            &:hover {
                 /* bg-warn-300 */ background-color: #fda4af;
            }
        }

        .arch {
             /* bg-pri-500 */ background-color: #0ea5e9; /* text-gray-300 */ color: #d4e3ec; /* px-4 */ padding-left: 16px;padding-right: 16px; /* min-h-7 */ min-height: 28px; /* rounded-l-xl */ border-top-left-radius: 12px;border-bottom-left-radius: 12px;
            transition-property: background-color;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            &:hover {
                 /* bg-pri-400 */ background-color: #38bdf8;
            }
        }
    }
}

.music-slider {
    trough {
         /* min-h-[4px] */ min-height: 4px; /* rounded-sm */ border-radius: 2px; /* bg-[rgba(255,255,255,0.4)] */ background-color: rgba(255,255,255,0.4);
        highlight {
             /* min-h-[4px] */ min-height: 4px; /* min-w-[4px] */ min-width: 4px; /* rounded-sm */ border-radius: 2px; /* bg-white */ background-color: #ffffff;
        }
    }
}
.active-slider {
    trough {
         /* min-h-[4px] */ min-height: 4px; /* rounded-sm */ border-radius: 2px; /* bg-gray-600 */ background-color: #767e86;
        highlight {
             /* min-h-[4px] */ min-height: 4px; /* min-w-[4px] */ min-width: 4px; /* rounded-sm */ border-radius: 2px; /* bg-pri-400 */ background-color: #38bdf8;
        }
    }
}
.inactive-slider {
    trough {
         /* min-h-[4px] */ min-height: 4px; /* rounded-sm */ border-radius: 2px; /* bg-gray-700 */ background-color: #5e6266;
        highlight {
             /* min-h-[4px] */ min-height: 4px; /* min-w-[4px] */ min-width: 4px; /* rounded-sm */ border-radius: 2px; /* bg-gray-500 */ background-color: #878791;
        }
    }
}

.p-0\.5 {  /* p-0.5 */ padding: 2px; }
.p-1 {  /* p-1 */ padding: 4px; }
.p-2 {  /* p-2 */ padding: 8px; }
.px-2 {  /* px-2 */ padding-left: 8px;padding-right: 8px; }
.px-4 {  /* px-4 */ padding-left: 16px;padding-right: 16px; }
.px-6 {  /* px-6 */ padding-left: 24px;padding-right: 24px; }
.py-0\.5 {  /* py-0.5 */ padding-top: 2px;padding-bottom: 2px; }
.py-1 {  /* py-1 */ padding-top: 4px;padding-bottom: 4px; }
.py-2 {  /* py-2 */ padding-top: 8px;padding-bottom: 8px; }
.py-4 {  /* py-4 */ padding-top: 16px;padding-bottom: 16px; }
.pt-px {  /* pt-px */ padding-top: 1px; }
.pt-0\.5 {  /* pt-0.5 */ padding-top: 2px; }
.pt-1 {  /* pt-1 */ padding-top: 4px; }
.pt-1\.5 {  /* pt-1.5 */ padding-top: 6px; }
.pb-0\.5 {  /* pb-0.5 */ padding-bottom: 2px; }
.pl-1\.5 {  /* pl-1.5 */ padding-left: 6px; }
.pr-1\.5 {  /* pr-1.5 */ padding-right: 6px; }

.m-0 {  /* m-0 */ margin: 0px; }
.m-0\.5 {  /* m-0.5 */ margin: 2px; }
.mx-1 {  /* mx-1 */ margin-left: 4px;margin-right: 4px; }
.mx-2 {  /* mx-2 */ margin-left: 8px;margin-right: 8px; }
.my-1 {  /* my-1 */ margin-top: 4px;margin-bottom: 4px; }
.mt-px {  /* mt-px */ margin-top: 1px; }
.mt-0\.5 {  /* mt-0.5 */ margin-top: 2px; }
.-mt-2 { margin-top: -8px; }
.mt-1 {  /* mt-1 */ margin-top: 4px; }
.mt-1\.5 {  /* mt-1.5 */ margin-top: 6px; }
.mt-2 {  /* mt-2 */ margin-top: 8px; }
.mt-2\.5 {  /* mt-2.5 */ margin-top: 10px; }
.mt-3 {  /* mt-3 */ margin-top: 12px; }
.mt-4 {  /* mt-4 */ margin-top: 16px; }
.-ml-1 { margin-left: -4px; }
.ml-1 {  /* ml-1 */ margin-left: 4px; }
.ml-2 {  /* ml-2 */ margin-left: 8px; }
.mb-px {  /* mb-px */ margin-bottom: 1px; }
.mb-0\.5 {  /* mb-0.5 */ margin-bottom: 2px; }
.mb-1 {  /* mb-1 */ margin-bottom: 4px; }
.mb-2 {  /* mb-2 */ margin-bottom: 8px; }
.mr-1 {  /* mr-1 */ margin-right: 4px; }
.mr-2 {  /* mr-2 */ margin-right: 8px; }

.bg-gray-50 {  /* bg-gray-50 */ background-color: #f9fafb; }
.bg-gray-100 {  /* bg-gray-100 */ background-color: #f3f4f6; }
.bg-gray-200 {  /* bg-gray-200 */ background-color: #e5e7eb; }
.bg-gray-300 {  /* bg-gray-300 */ background-color: #d4e3ec; }
.bg-gray-400 {  /* bg-gray-400 */ background-color: #b2b2be; }
.bg-gray-500 {  /* bg-gray-500 */ background-color: #878791; }
.bg-gray-600 {  /* bg-gray-600 */ background-color: #767e86; }
.bg-gray-700 {  /* bg-gray-700 */ background-color: #5e6266; }
.bg-gray-800 {  /* bg-gray-800 */ background-color: #3d4044; }
.bg-gray-900 {  /* bg-gray-900 */ background-color: #1f2124; }
.bg-pri-400 {  /* bg-pri-400 */ background-color: #38bdf8; }
.bg-pri-300 {  /* bg-pri-300 */ background-color: #7dd3fc; }
.bg-white\|20 {  /* bg-[rgba(255,255,255,0.2)] */ background-color: rgba(255,255,255,0.2); }
.bg-black\|40 {  /* bg-[rgba(0,0,0,0.4)] */ background-color: rgba(0,0,0,0.4); }
.bg-black\|60 {  /* bg-[rgba(0,0,0,0.6)] */ background-color: rgba(0,0,0,0.6); }
.hover\:bg-white\|20:hover {  /* bg-[rgba(255,255,255,0.2)] */ background-color: rgba(255,255,255,0.2); }
.hover\:bg-white\|40:hover {  /* bg-[rgba(255,255,255,0.4)] */ background-color: rgba(255,255,255,0.4); }
.hover\:bg-warn-500:hover {  /* bg-warn-500 */ background-color: #f43f5e; }

.bg-cover { background-size: cover; }
.bg-size-4 { background-size: 16px; }
.bg-size-6 { background-size: 24px; }

.bg-no-repeat { background-repeat: no-repeat; }

.bg-center { background-position: center; }

.text-white {  /* text-white */ color: #ffffff; }
.text-white\|80 {  /* text-[rgba(255,255,255,0.8)] */ color: rgba(255,255,255,0.8); }
.text-white\|60 {  /* text-[rgba(255,255,255,0.6)] */ color: rgba(255,255,255,0.6); }
.text-white\|40 {  /* text-[rgba(255,255,255,0.4)] */ color: rgba(255,255,255,0.4); }
.text-gray-300 {  /* text-gray-300 */ color: #d4e3ec; }
.text-gray-400 {  /* text-gray-400 */ color: #b2b2be; }
.text-gray-500 {  /* text-gray-500 */ color: #878791; }
.text-gray-600 {  /* text-gray-600 */ color: #767e86; }
.text-gray-700 {  /* text-gray-700 */ color: #5e6266; }
.text-gray-800 {  /* text-gray-800 */ color: #3d4044; }
.text-pri-800 {  /* text-pri-800 */ color: #075985; }
.text-pri-900 {  /* text-pri-900 */ color: #0c4a6e; }
.hover\:text-warn-200:hover {  /* text-warn-200 */ color: #fecdd3; }

.text-xss {  /* text-[10px] */ font-size: 10px; }
.text-xs {  /* text-xs */ font-size: 12px; }
.text-sm {  /* text-sm */ font-size: 14px; }
.text-base {  /* text-base */ font-size: 16px; }
.text-lg {  /* text-lg */ font-size: 18px; }
.text-xl {  /* text-xl */ font-size: 20px; }
.text-2xl {  /* text-2xl */ font-size: 24px; }
.text-3xl {  /* text-3xl */ font-size: 30px; }
.text-4xl {  /* text-4xl */ font-size: 36px; }
.text-5xl {  /* text-5xl */ font-size: 48px; }
.text-6xl {  /* text-6xl */ font-size: 60px; }
.text-7xl {  /* text-7xl */ font-size: 72px; }
.text-8xl {  /* text-8xl */ font-size: 96px; }

.italic { font-style: italic; }

.font-sans {  /* font-sans */ font-family: "Quicksand", sans-serif; }
.font-mono {  /* font-mono */ font-family: "jetbrains mono", "Courier New", Courier, monospace; }
.font-icon {  /* font-icon */ font-family: 'Inter Nerd Font', Consolas, 'Courier New', monospace; }

.font-medium {  /* font-medium */ font-weight: 500; }
.font-bold {  /* font-bold */ font-weight: 700; }
.hover\:font-bold:hover {  /* font-bold */ font-weight: 700; }

.rounded-sm {  /* rounded-sm */ border-radius: 2px; }
.rounded {  /* rounded-bs */ border-radius: 4px; }
.rounded-md {  /* rounded-md */ border-radius: 6px; }
.rounded-lg {  /* rounded-lg */ border-radius: 8px; }
.rounded-xl {  /* rounded-xl */ border-radius: 12px; }
.rounded-1\.5xl {  /* rounded-[14px] */ border-radius: 14px; }
.rounded-2xl {  /* rounded-2xl */ border-radius: 16px; }

.shadow-sm { box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05); }
.shadow { box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1); }
.shadow-md { box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1), 0px 2px 4px -2px rgba(0,0,0,0.1); }
.shadow-lg { box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1), 0px 4px 6px -4px rgba(0,0,0,0.1); }
.shadow-xl { box-shadow: 0px 20px 25px -5px rgba(0,0,0,0.1), 0px 8px 10px -6px rgba(0,0,0,0.1); }
.shadow-2xl { box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.25); }
.shadow-inner { box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.05); }
.shadow-none { box-shadow: none; }


.min-h-4 {  /* min-h-4 */ min-height: 16px; }

.min-w-4 {  /* min-w-4 */ min-width: 16px; }

.transition-bg { transition-property: background-color; }
.duration-200 { transition-duration: 0.2s; }
.ease-in-out { transition-timing-function: ease-in-out; }
.animate-bg {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
